<!DOCTYPE html>
<html>
<head>
  <link href='style.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1>{{name}}</h1>
  <p id="contacts">
    <a href="mailto:{{email}}">{{email}}</span>
    <a href="http://{{website}}">{{website}}</span>
    <br/>
    <a href="{{github}}"><span class='symbol'>roundedgithubalt</span>: {{github}}</span>
    <a href="{{linkedin}}"><span class='symbol'>roundedlinkedin</span>: {{linkedin}}</a>
  </p>
  {{content}}

  <p id="watermark">
    --resume built with markdawn
  </p>
</body>
</html>
